*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
	scroll-behavior: smooth;
}

nav{
	padding: 1rem;
	list-style-type: none;
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 2;
}

nav .nav-logo, nav .nav{
	display: inline;
	margin: 1rem;
}

.nav-logo{
	padding-left: 3em;
}

.right-nav{
	float: right;
	margin-right: 3rem;
}

.tuitt-button{
	background-color: #c2195b;
	color: white;
	padding: 0.8rem;
	font-weight: bold;
	border-radius: 30px;
	font-size: 15px;
	border: 0;
}

#bg-image{
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-size: 100%;
	background-position: center bottom;
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 50vh;
}

.front-bg{
	background-color: rgba(0, 0, 0, 0.5);
	height: 50vh;
}

.container{
	position: relative;
	top: 0;
	right: 3rem;
	padding: 1em 0;
	z-index: 1;
}

.title{
	display: inline-block;
	position: absolute;
	font-size: 3em;
	right: 2rem;
	text-align: right;
	width: 35%;
}

.subtitle{
	display: inline-block;
	position: absolute;
	right: 2rem;
	text-align: justify;
	text-align: right;
	font-size: 20px;
	width: 25%;
	line-height: 1.5em;
	margin: 7em 0;
}

.apply-button{
	display: inline-block;
	position: absolute;
	right: 2rem;
	background-color: #c2195b;
	color: white;
	padding: 0.7em 3em;
	border-radius: 70px;
	font-size: 15px;
	font-weight: bold;
	border: 0;
	margin: 20em 0;
}

.container > *{
	color: white;
}

.intro{
	text-align: center;
	padding: 2rem 25%;
	height: 40vh;
}

.title, .title-2{
	font-family: 'Zilla Slab', serif;
}

.title-2{
	margin: 2em 0;
}

.intro-description{
	text-align: justify;
}

.pre-footer{
	background-color: #f7fbfb;
	text-align: center;
	padding: 2rem 25%;
	height: 50vh;
}

.book-button{
	background-color: #336589;
	font-weight: bold;
	border: 0;
	color: white;
	border-radius: 70px;
	padding: 0.5em 2em;
	margin-top: 1em;
}

footer{
	text-align: center;
}

footer span{
	margin: 0 0.5em;
}